

h1 {
    margin: 20;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    background-color: rgb(252, 174, 163);
    border-width: 20px;
}
p {
    border: 30px; 
    rectangle { 
        width: 1000px;
        height:800px ;
    }
    background-color: rgb(237, 238, 196);
    
}

.row {
    text-align: center; float: right; width: 100%;}

@media (min-width:992px){
.col-lg-1, .col-lg-2, .col-lg-3 {
    float: none;
    padding: 1px;
    }
    .col-lg-1{
    width:33.33%;
    }
    .col-lg-2{
    width:66.66%;
    }
    .col-lg-3{
    width: 99.99%;
    }
}

@media (min-width:768px) and (max-width:991px){
    .col-med-1, .col-med-2, .col-med-3{
        float: left;
        padding:1px;
    }
    .col-med-1{
        width:50%
    }
    .col-med-2{
        width:50%;
    }
    .col-med-3{
        width: 100%;
    }
}

@media (max-width:767px){
    .col-sm-1, .col-sm-2, .col-sm-3{
        float: right;
        padding: 1px;
    }
    .col-sm-1{
        width: 100%
    }
    .col-sm-2{
        width: 100%;
    }
    .col-sm-3{
        width: 100% 
    }
}



