*{
    box-sizing: border-box;
}
h1{
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.section1{
    position: relative;
    margin: 5px;
    background-color: rgb(153, 212, 101);
    padding: 10px;
    border: 1px solid black; 
    padding-top: 20px; 
}
.section2{
    position: relative;
    margin: 5px;
    background-color: rgb(153, 212, 101);
    padding: 10px;
    border: 1px solid black; 
    padding-top: 20px;  
}
.section3{
    position: relative;
    margin: 5px;
    background-color: rgb(153, 212, 101);
    padding: 10px;
    border: 1px solid black;  
    padding-top: 20px; 
}


@media (min-width: 992px){
    section{
        width: 25%;
        display: inline-flex;
        padding: 15px;
        float: left;  
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .container{
        display: block;
        margin: 5px;
        padding: 5px;
    }
    .section1, .section2{
        width: 45%;
        display: inline-flex;
        margin: 2px;
    }
    .section3{
        width: 91%;

    }
}

@media (max-width: 767px){
    .container{
        display: block;
    }
}

.title1{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    background-color: blue;
    padding-inline: 20px;
    font-weight: 850;
    font-size: large;
    border: 1px solid black;
}
.title2{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    background-color: rgb(239, 98, 10);
    padding-inline: 20px;
    font-weight: 850;
    font-size: large;
    border: 1px solid black;
}
.title3{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    background-color: rgb(255, 0, 238);
    padding-inline: 20px;
    font-weight: 850;
    font-size: large;
    border: 1px solid black;
}
